@import 'reset';
@import 'utils';

@import 'import/cur';
@import 'import/pos';
@import 'import/utils';

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


body {
    color: #080d36;
    
    line-height: 17px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;

    background: url('img/furley.png') repeat 0 0;
}

a[href] {
    color: #1c298a;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

header {
    margin: 0 0 20px 0;
    padding: 50px 0 0 50px;
}
    .header-container {
        #pos.rel();

        width: 500px;
    }
        .run {
            #pos.abs();
            #pos.tr(50%, 0);
            .translateY(-50%);
        }

main {
    width: 700px;

    margin: 0 0 0 50px;
    padding: 0 0 100px 0;
}

.test { width: 400px; }
.opts { width: 100px; text-align: right; }

.test-overview {
    margin-bottom: 10px;
}
    .test-overview-item {
        float: left;

        font-size: 13px;
        font-weight: bold;
    }

.test-set {
    #pos.rel();

    margin: 0 0 20px 0;
}
    .test-title {
        display: block;
        margin: 0 0 5px 0;
    }
    .test-line {
        #pos.rel();

        margin: 0 0 5px 0;

        &.faster { &:after { color: #1a711a; } }
        &.slower { &:after { color: #d9534f; } }

        &[data-comparison] {
            &:after {
                #pos.abs();
                #pos.tl(0, 100%);

                content: attr(data-comparison);

                margin: 0 0 0 10px;

                font-size: 11px;
            }
        }

        &.pending {
            .test-bar { display: none; }

            .opts {
                &:before {
                    display: block;
                    content: 'pending...';
                }
            }
        }
    }
        .test-cell {
            #pos.rel();
            #pos.z(1);

            min-height: 1px;

            float: left;

            // ellipsis
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .test-bar {
            #pos.abs();
            #pos.z(0);
            #pos.tl(100%, 0);


            width: 0;
            height: 3px;

            opacity: 0.3;

            .transition(width 300ms ease);

            .faster & { background: #5cb85c; }
            .slower & { background: #d9534f; }
        }
